body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    height: 350px;
    width: 200px;
}


.container {
    width: 350px;
    height: 200px;

    position: relative;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: gallery 20s linear infinite;
    cursor: pointer;
}

.container span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
    -webkit-box-reflect: below 2.5px linear-gradient(transparent, transparent, rgba(3, 3, 3, 0.2));
}
@keyframes gallery{
    0%{
        transform: perspective(1000px)rotate(0deg);
    }
    100%{
        transform: perspective(1000px)rotateY(360deg);
    }
}