body{
    transition: background-color 0.5s, color 0.5;
}

body.light-mode{
    background-color: rgb(214,214,214);
}

body.dark.mode{
    background-color: black;
    color:white
}

.theme-switch-wrapper{
    display: flex;
    justify-content: center;
    align-items: centrer;
    height: 100vh;
}

.theme-switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 44px;
}

.theme-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slideder{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc72b;
    transition: .4s;
    border-radius: 44px;
    width: 80px;
    height: 44px;
}

.slide:hover{
    box-shadow: 0 0 20px rgb(214,252,0);
}

.slide::before{
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-image: url(light_mode_24dp_E8AED_FILL0_wght400_GRAD0_opsz24.svg);
    transition: 0.4s;
    border-radius: 50%;
    background-size: cover;
}

input:checked + .slider{
    background-color: #2c0b47;
}

input:checked + .slider::hover{
    box-shadow: 0 0 20px rgb(255,255,255);
}

input:checked + .slider::before{
    transform: translateX(36px);
    background-image: url(dark_mode_24dp_E8AED_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
}
